{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "prettier/standard",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react/display-name": 0,
    "no-unused-vars": "error",
    "prettier/prettier": "error"
  }
}
